				<!-- start: SIDEBAR -->
				<div class="main-navigation navbar-collapse collapse">
					<!-- start: MAIN NAVIGATION MENU -->
          <div class="pc-navigation">
            <ul class="main-navigation-menu">
              <li class="<eq name="Think.session.menu.module" value="index">active</eq>">
                <span class="column_item">
                <i class="clip-home-3"></i>
                  <span class="title"> <a href="{:U('Index/index')}">后台首页</a> </span><span class="selected"></span>
                </span>
              </li>
              <li class="<eq name="Think.session.menu.module" value="config">active</eq>">
                <span class="column_item">
                <i class="clip-wrench"></i>
                  <span class="title"><a href="{:U('Config/index')}">全局设置</a> </span><span class="selected"></span>
                </span>
              </li>
              <li class="<eq name="Think.session.menu.module" value="Slide">active</eq>">
                <span class="column_item">
                <i class="clip-user-5"></i>
                  <span class="title"> <a href="{:U('User/lists')}">用户</a> </span><span class="selected"></span>
                </span>
              </li>
              <li class="<eq name="Think.session.menu.module" value="Slide">active</eq>">
                <span class="column_item">
                <i class="clip-gamepad"></i>
                  <span class="title"> <a href="{:U('Machine/index')}">设备</a> </span><span class="selected"></span>
                </span>
              </li>
              <li>
                <span class="column_item">
                </span>
              </li>
            </ul>
          </div>
					<!-- end: MAIN NAVIGATION MENU -->
				</div>
				<!-- end: SIDEBAR -->
