<!-- metas -->
<meta charset="utf-8">
<meta name="keywords" content="{$config_data.keywords}" />
<meta name="description" content="{$config_data.description}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<!--/ metas -->
<link href="__PUBLIC__/Home/css/weui.min.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/Home/js/weui.js"></script>
<script src="__PUBLIC__/Home/js/zepto.min.js"></script>
<script>
var TongYou = {
  routes:{
    send_vcode_url:  "{:U('/home/index/send_vcode')}",
    jihuo2t_url:"{:U('/Home/Index/jihuo2?activate=t')}",
    jihuo2p_url:"{:U('/Home/Index/jihuo2?activate=p')}",
    delete_machine_url:"{:U('/Home/Index/delete_machine')}",
    login_url:"{:U('/Home/Session/login')}",
    jihuo_url:"{:U('/Home/index/jihuo')}",
    display_code_url:"{:U('/Home/index/display_code')}",
    shift_customer_service_url:"{:U('/Home/index/shift_customer_service')}",
    
  }
}
</script>
<script src="__PUBLIC__/Home/js/app.js"></script>
<style>
body {
    font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
}
.demos-header {
    padding: 35px 0;
}
.demos-header .avatar{
  border-radius: 100%;
  margin: 8px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.demos-title {
    text-align: center;
    font-size: 34px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 10%;
}
.weui-cells, .weui-cells_form{ margin: 0;padding: 0 0 18px 0;}
.activation-info{ padding: 18px 0; margin: 0 10%;  }
.activation-info .weui-flex__item{  padding: 0 9px;}
.two-btn-area .weui-flex__item{  padding: 0 9px;}
.weui-form-preview__item{ text-align: left;}
.hide{
  display: none;
}

</style>
