<!-- metas -->
<meta charset="utf-8">
<meta name="keywords" content="{$config_data.keywords}" />
<meta name="description" content="{$config_data.description}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<!--/ metas -->
<link href="/Public/Home/css/weui.min.css" rel="stylesheet" type="text/css" />
<script src="/Public/Home/js/weui.min.js"></script>
<script src="/Public/Home/js/zepto.min.js"></script>
<script src="/Public/Home/js/app.js"></script>

<style>
body {
    font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #111;
    background-color: #fdfdfd;
    -webkit-text-size-adjust: 100%;
}
.demos-header {
    padding: 35px 0;
}
.demos-title {
    text-align: center;
    font-size: 34px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}
</style>
