			<li><a href="__ROOT__/" class="<eq name='column_data.id' value=''>on</eq>">首页</a></li>
			<li><a href="{:U('Index/column',array('column_id'=>9))}" class="<eq name='big_column_data.id' value='7'>on</eq>">产品中心</a> </li>
      <li><a href="{:U('Index/column',array('column_id'=>18))}" class="<eq name='column_data.id' value='18'>on</eq>">案例展示</a> </li>
      <li><a href="{:U('Index/column',array('column_id'=>20))}" class="<eq name='big_column_data.id' value='3'>on</eq>">公司资讯</a> </li>
      <li><a href="{:U('Index/article',array('column_id'=>24,'id'=>1))}" class="<eq name='big_column_data.id' value='4'>on</eq>">关于童游</a> </li>
      <li><a href="{:U('Index/article',array('column_id'=>5,'id'=>2))}" class="<eq name='column_data.id' value='5'>on</eq>">售后服务</a> </li>
      <li><a href="{:U('Index/article',array('column_id'=>6,'id'=>3))}" class="<eq name='column_data.id' value='6'>on</eq>">联系我们</a> </li>