<!DOCTYPE html>
<html>
	<head>
		<title>{$config_data.name}</title>
		<include file="Public/head" />
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
		    wx.config( {$js->config(array('scanQRCode'), false)} );
				wx.ready(function(){

					wx.checkJsApi({
					    jsApiList: ['scanQRCode'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
					    success: function(res) {
					        // 以键值对的形式返回，可用的api值true，不可用为false
					        // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
									if( res.checkResult.scanQRCode)
									{
										$("#scan_device").removeClass('weui-btn_loading');
										$("#scan_device").click(function(){
											wx.scanQRCode({
											  needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
											  scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
											  success: function (res) {
													var category_id = $('#category_id').val();
											    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
													var loading = weui.loading('当前设备码为'+result);

													$.ajax({type:'POST', url:'/Home/Index/jihuo',
													  data:{machine_code: result, category_id: category_id},
														success: function(data){
															loading.hide();
															 if(data.status== 1)
															 {
																  location.href = "/Home/Index/display_code";
															 }else{
																 weui.alert(data.error);
															 }
														}
												  })
												}
											});
										})
									}
					    }
					});
				})
		</script>
	</head>

	<body ontouchstart>
		<header class="demos-header">
			<div class="demos-title">
	       童游互动产品
	    </div>
		</header>
		<div class="">

				<form action="{:U('login')}" method="post">
					<div class="weui-cells weui-cells_form">
						<eq name="member.group_id" value="2">
						<div class="weui-cell weui-cell_select weui-cell_select-after">
						        <div class="weui-cell__hd">
						          <label for="" class="weui-label">设备类型</label>
						        </div>
						        <div class="weui-cell__bd">
						          <select id="category_id" class="weui-select" name="category_id">
												<volist name="categories" id="category"  >
													<option value="{$category['id']}">{$category.title}</option>
												</volist>
						          </select>
						        </div>
						</div>
  					</eq>

						<div class="weui-btn-area">
			        <input id="scan_device" type="button" class="weui-btn weui-btn_primary weui-btn_loading" value="扫描设备">
			      </div>
					</div>
		    </form>
		</div>
	</body>
</html>
